<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User List</h1>
    <ul>
      <% userlist.forEach(function(userlist) { %>
        <li>
          Id:
          <strong><%= userlist._id %></strong>&emsp;
          Transponder/Plate:
          <strong><%= userlist.Transponder_or_Plate %></strong>&emsp;
          Transaction:
          <strong><%= userlist.Transaction %></strong>&emsp;
          Plaza Facility:
          <strong><%= userlist.Plaza_Facility %></strong>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
